.header {
    overflow: hidden;
    height: 1000px;
    margin-top: 100px;
    position: relative;
}

.back {
    overflow: hidden;
    width: 100%;
    position: absolute;
    top: -300px;

}

.bg {
    position: relative;

}

.bkimg {
    width: 100%;



}

@media screen and (max-width:1900px) {
    .back {
        top: -150px;
    }

}

@media screen and (max-width:1300px) {
    .back {
        top: -100px;
    }

}

@media screen and (max-width:1200px) {
    .back {
        top: -90px;
    }

}

@media screen and (max-width:1100px) {
    .back {
        top: -10px;
    }

}

@media screen and (max-width:991px) {
    .bkimg {
        opacity: 0;
    }

}

.content-header {

    position: absolute;
    padding-top: 9.5%;
    margin: 0px 150px 150px 150px;
    top: -100px;
}




#hdr {
    margin-top: 50px;
}

#logo {
    width: 150px;
}


#jdl {
    font-size: 80px;
}


#phdr {
    font-size: 28px;
}

#wahdr {
    color: white;
    text-decoration: none;
    border: solid 1px rgb(25, 80, 224);
    border-radius: 10px;
    background-color: rgb(25, 80, 224);
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 25px;
    padding-right: 25px;
    position: relative;
    transition: all .35s;
}


#wahdr span {
    position: relative;
    z-index: 2;
}

#wahdr:after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    border-radius: 10px;
    background: #ffffff;
    transition: all .35s;
}

#wahdr:hover {
    color: rgb(25, 80, 224);
}

#wahdr:hover:after {
    width: 100%;
}


.content {
    overflow: hidden;
    background-color: whitesmoke;
    position: absolute;
    top: 900px;

}

@media screen and (max-width:1100px) {
    .content {
        top: 800px;
    }

}

@media screen and (max-width:500px) {
    .content {
        top: 700px;
    }

}

.akomo {

    padding: 50px;

}

.akomo h2 {
    font-size: 50px;
    width: auto;
    text-align: center;
}

.akoicon {
    width: 100%;

}

.akoicon p {

    font-size: 24px;
    text-align: center;
    color: white;
}

.akoicon p i {
    padding: 18px;
    background-color: rgb(24, 81, 224);
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.akomop {
    font-weight: bold;
    font-size: 16px;
    text-align: center;
}



.about {
    position: relative;
    padding: 50px;
    padding-bottom: 0;



}

.iconabt {
    width: 100%;
    display: flex;
    justify-content: center;


}

.iconabt p {
    font-size: 24px;
    position: absolute;
    text-align: center;
    color: white;
    top: 25px;

}

.iconabt p i {
    background-color: rgb(188, 225, 56);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    padding: 18px;
}

.cabout {
    text-align: center;
    padding: 30px 15px 30px 15px;
    border-radius: 10px;
    background-color: rgb(188, 225, 56);
}

@media screen and (max-width:500px) {
    .cabout {
        margin-top: 20px;
        padding: 50px 15px 50px 15px;
    }

}

.cabout h2 {
    font-size: 50px;
}

.cabout p {
    font-size: 18px;
}

.promo {
    display: flex;
    justify-content: center;
    margin: 40px;
}

.diskon {
    word-break: break-word;
    text-align: center;
    border-radius: 10px;
    margin-top: 10px;
    height: auto;
    padding: 20px;
    background-color: rgb(25, 80, 224);
    color: white;
}

.diskon h4 {
    font-weight: bold;
    padding: 10px;
    position: relative;
    top: 30%;
    display: inline-block;
    bottom: 50%;
    font-size: 24px;
}

.harga {
    text-align: center;
    padding-bottom: 50px;
}

.harga h2 {
    font-size: 32px;
    margin-top: 50px;
}

.harga h1 {
    font-size: 48px;
}

.merk {
    color: blue;
    margin: 0;
    padding: 0;
}

.jenis {
    margin: 0;
    padding: 0;
}

.nominal {
    margin: 0;
    padding: 0;
    padding-bottom: 5px;
}

.wa {
    padding-top: 1rem!important;
    padding-bottom: 1rem!important;
    padding-right: 1.5rem!important;
    padding-left: 1.5rem!important;
    color: white;
    text-decoration: none;
    border: solid 1px rgb(25, 80, 224);
    border-radius: 10px;
    background-color: rgb(25, 80, 224);
    position: relative;
    transition: all .35s;
}

@media screen and (max-width:990px) {
    .wa {
    padding-right: 15rem!important;
    padding-left: 15rem!important;
    }
    
}

@media screen and (max-width:800px) {
    .wa {
    padding-right: 8rem!important;
    padding-left: 8rem!important;
    }
    
}


.wa span {
    position: relative;
    z-index: 2;
}

.wa:after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    border-radius: 10px;
    background: #ffffff;
    transition: all .35s;
}

.wa:hover {
    color: rgb(25, 80, 224);
}

.wa:hover:after {
    width: 100%;
}



.mobil {
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: white;
}

.motor {
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: white;
}

.benefit {
    padding-top: 50px;
}

.benefit h2 {
    font-size: 55px;
    padding-bottom: 30px;
}

.content-benefit {
    padding: 30px;
    background-color: white;
}

.content-benefit:hover {
    transition-property: box-shadow;
    transition-duration: 0.5s;
    transform: scale(1.0);
    box-shadow: 0 0 15px gray;

}

.content-benefit h4,
.content-benefit p {
    padding-left: 20px;
    padding-right: 20px;
}

.p1 {
    color: blue;
}

.content-benefit h4 {
    font-size: 24px;
    margin-top: 15px;
}

.content-benefit p {
    font-size: 16px;
}

.testi {
    padding-top: 50px;
}

.content-testi {
    padding: 30px;
    margin-bottom: 30px;
    background-color: white;
    border-radius: 10px;
}

.content-testi-h {
    padding: 0;
    margin-bottom: 50px;
}

.htes {
    font-size: 48px;
}

.content-testi img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.content-testi-p {
    text-align: center;
    font-size: 16px;
}

.nama-testi,
.tempat-testi {
    margin: 0;

}


.orang {
    padding-top: 15px;
}

.note p {
    font-weight: 600;
    font-size: 16px;
    padding: 30px 30px 0px 30px;

}

.fasi {
    position: relative;
    height: 100%;
    background-color: white;
}

.fas-img {
    position: absolute;
    z-index: 1;
    width: 100%;
    top: 0%;
}

.bkfas {
    width: 100%;

}

@media screen and (max-width:991px) {
    .bkfas {
        opacity: 0;
    }

}

.fasilitas {
    padding: 10px;
    position: relative;
    z-index: 2;

}

.pojokfas {
    position: absolute;
    right: 0px;
    top: -50px;
    width: 250px;
    z-index: 0;
}

@media screen and (min-width:1201px) {
    .pojokfas {
        opacity: 0;
    }

}

@media screen and (max-width:1199px) {
    .pojokfas {
        right: -100px;
        width: 200px;
    }

}

@media screen and (max-width:990px) {
    .pojokfas {
        top: 80px;
        right: -90px;
        width: 150px;
    }

}

@media screen and (max-width:800px) {
    .pojokfas {
        width: 100px;
        top: 100px;
        right: 10px;
    }

}

@media screen and (max-width:768px) {
    .pojokfas {
        right: -50px;
    }

}

@media screen and (max-width:520px) {
    .pojokfas {
        top: 60px;
        right: -20px;
        width: 70px;
    }

}

.fas-hd {
    padding-top: 100px;

}

.fas-hd h4 {
    font-size: 32px;
}

.fas-p {
    padding-top: 20px;
    font-size: 16px;
    font-family: sans-serif;

}

.fas-p ul {
    padding: 0;
}

.fas-p li {
    padding-bottom: 10px;
}

.check {
    color: rgb(25, 80, 224);
    padding-right: 10px;

}

.sistem {
    padding-top: 100px;
    padding-bottom: 30px;
    background-color: white;
    width: 100%;
    z-index: 2;
}

.sistem-p ul {
    padding: 0;
}

.sistem-p ul li {
    padding-bottom: 10px;
}

.sistem-p {
    padding-top: 20px;
    font-size: 16px;
    font-family: sans-serif;
}

.info {
    color: rgb(25, 80, 224);
    padding-right: 10px;
}

footer {
    position: relative;
    background-color: white;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.foot {
    position: relative;
    background-color: aliceblue;
    border-radius: 10px;
    padding-top: 30px;
    padding-bottom: 40px;
    z-index: 1;
}

.foot h1 {
    font-size: 32px;
    padding-top: 50px;
}

#wafoot {
    word-break: break-all;
    text-decoration: none;
    color: white;
    border: solid 1px rgb(25, 80, 224);
    text-align: center;
    background-color: rgb(25, 80, 224);
    border-radius: 10px;
    padding: 15px 20px 15px 20px;
    position: relative;
    transition: all .35s;
}


#wafoot span {
    position: relative;
    z-index: 2;
}

#wafoot:after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    border-radius: 10px;
    background: #ffffff;
    transition: all .35s;
}

#wafoot:hover {
    color: rgb(25, 80, 224);
}

#wafoot:hover:after {
    width: 100%;
}

@media screen and (max-width:400px) {
    #wafoot {
        font-size: 14px;
        padding: 10px;
    }

}



.circle-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.foot-icon {
    width: 100%;
    display: flex;
    justify-content: center;



}

.foot-icon p {
    font-size: 24px;
    position: absolute;
    text-align: center;
    color: white;
    top: 25px;
    z-index: 999;
}

.foot-icon p i {
    background-color: rgb(188, 225, 56);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    padding: 18px;
}

.whatsapp {
    position: fixed;
    padding: 20px;
    right: 0;
    bottom: 0;
    z-index: 5;
}

.whatsapp a {
    text-decoration: none;
}

.whatsapp a i {
    text-align: center;
    padding-top: 7px;
    font-size: 25px;
    color: white;
    border-radius: 50%;
    background-color: rgb(44, 183, 67);
    width: 40px;
    height: 40px;

}

.wan {
    background-color: aliceblue;
    color: black;
    padding: 10px;
}

#powa {
    text-decoration: none;
}

.hw {
    background-color: rgb(44, 183, 67);
    color: white;
    padding: 10px;
}

.hw p {
    font-size: 10px;
}

#powa p {
    font-size: 10px;
    color: black;
    margin: 15px;
}

.agen a {
    text-decoration: none;
}






@media screen and (max-width: 1024px) {
    .content-header {
        margin: 50px;
    }

}


@media screen and (max-width:1200px) {
    .fas-img {
        opacity: 0;
    }

}


@media screen and (min-width:1000px) {
    .akomo {
        width: 90%;
        position: relative;
        right: -5%;
    }

    .about {
        width: 90%;
        position: relative;
        right: -5%;
    }



}




@media screen and (max-width:900px) {
    .htes {
        font-size: 32px;
    }

    .fas-hd h4 {
        font-size: 20px;
    }

    .note p {
        font-size: 14px;
        font-weight: normal;
    }

}


@media screen and (max-width: 800px) {
    #logo {
        width: 100px;

    }

    #jdl {
        font-size: 45px;

    }

    .akomop {
        text-align: left;
    }

    .akomo h2 {
        font-size: 32px;
        text-align: center;
    }

    .cabout h2 {
        font-size: 40px;
    }

    .about img {
        top: 7%;
        left: 46%;
    }

    .fas-p {
        font-size: 14px;
    }

    .sistem-p {
        font-size: 14px;
    }

    #bh2 {
        font-size: 32px;
    }

    .harga h1 {
        font-size: 32px;
    }

    .harga h2 {
        font-size: 20px;
    }
}


@media screen and (max-width:600px) {
    .diskon h4 {
        font-size: 18px;
    }

    .content-benefit p {
        font-size: 14px;
    }

    .htes {
        font-size: 25px;
    }
}


@media screen and (max-width:500px) {
    .content-header {
        margin: 20px;
    }


    .akomo {
        padding: 30px;
    }

    .about {
        padding: 30px;
    }

    .about img {
        top: 3%;
        left: 42%;
    }

    .cabout h2 {
        font-size: 30px;

    }

    .cabout p {
        font-size: 14px;
    }



    #bh2 {
        font-size: 25px;
    }

    .akomo h2 {
        font-size: 25px;
        text-align: left;
    }

    .akomop {
        font-weight: normal;
    }

    .harga h1 {
        font-size: 25px;
    }

}

* {
    box-sizing: border-box;
}

.item {
    width: 200px;
    height: 200px;
    margin: 50px auto;
    padding-top: 75px;
    background: #ccc;
    text-align: center;
    color: #FFF;
    font-size: 3em;
}


#btn-back-to-top {
    position: fixed;
    bottom: 70px;
    right: 20px;
    border-radius: 50%;
    display: none;
    z-index: 999;
}


.wrapper{
    display:inline-flex;
  }

  .wrapper .icon{
    margin: 0 20px;
    cursor:pointer;
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction:column;
    position: relative;
    z-index:2;
  }
  .wrapper .icon span{
    position:relative;
    z-index:2;
    height: 60px;
    width: 60px;
    display:block;
    background: #fff;
    box-shadow: 0 10px 10px rgba(0,0,0,0.1);
    border-radius:50%;
    text-align:center;
    transition: all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  .wrapper .icon span i{
    font-size:25px;
    line-height:60px;
  }
  
  .wrapper .icon .tooltip{
    position:absolute;
    top:0px;
    background: #fff;
    box-shadow: 0 10px 10px rgba(0,0,0,0.1);
    font-size: 20px;
    padding: 10px 18px;
    border-radius: 25px;
    color:white;
    opacity:0;
    pointer-events: none;
    transition: all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }

  .wrapper .icon:hover .tooltip{
    opacity:1;
    pointer-events: auto;
    top:-70px;
  }

  .wrapper .icon .tooltip:before{
    position:absolute;
    content:"";
    height:15px;
    width:15px;
    bottom:-8px;
    left:50%;
    transform: translateX(-50%) rotate(45deg);
  }
  .wrapper .icon:hover span,
  .wrapp .icon:hover .tooltip{
    text-shadow: 0px -1px 0px rgba(0,0,0,0.4);
  }
  .wrapper .icon:hover span{
    color: #fff;
  }

  .wrapper .facebook:hover span,
.wrapper .facebook:hover .tooltip,
.wrapper .facebook:hover .tooltip:before{
  background:#3B5999;
}
.wrapper .twitter:hover span,
.wrapper .twitter:hover .tooltip,
.wrapper .twitter:hover .tooltip:before{
  background:#46C1F6;
}
.wrapper .github:hover span,
.wrapper .github:hover .tooltip,
.wrapper .github:hover .tooltip:before{
  background:rgb(233,1,152);
}
.wrapper .youtube:hover span,
.wrapper .youtube:hover .tooltip,
.wrapper .youtube:hover .tooltip:before{
  background:#333;
}


.wrapper .icon .sosmed{
    color: black;
} 

.ulasan {
    display: flex;
    justify-content: center;
}

.glow-on-hover a {
    
    text-decoration: none;
    color: white;

}

.glow-on-hover {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgb(45,183,66);
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}  

#bodyulas {
    background-color: whitesmoke;
}

.formulas {
    position: relative;
    top: 100px;
    background-color: white;
    padding: 50px;
    border-radius: 10px;
}

.btnback {
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 999;
}

.glow-on-hover2 a {
    
    text-decoration: none;
    color: white;

}

.glow-on-hover2 {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.glow-on-hover2:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover2:active {
    color: #000
}

.glow-on-hover2:active:after {
    background: transparent;
}

.glow-on-hover2:hover:before {
    opacity: 1;
}

.glow-on-hover2:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: red;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}



.rating {
    margin-top: 40px;
    border: none;
    float: left;
  }
  
  .rating > label {
    color: #90A0A3;
    float: right;
  }
  
  .rating > label:before {
    margin: 5px;
    font-size: 2em;
    font-family: FontAwesome;
    content: "\f005";
    display: inline-block;
  }
  
  .rating > input {
    display: none;
  }
  
  .rating > input:checked ~ label,
  .rating:not(:checked) > label:hover,
  .rating:not(:checked) > label:hover ~ label {
    color: #F79426;
  }
  
  .rating > input:checked + label:hover,
  .rating > input:checked ~ label:hover,
  .rating > label:hover ~ input:checked ~ label,
  .rating > input:checked ~ label:hover ~ label {
    color: #FECE31;
  }